html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Press Start 2P';
  overflow: hidden;
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
  background: #0c2435;
  background-position: center center;
  background-size: cover;
}

.header {
  font-size: 2em;
  margin-bottom: 0;
  text-shadow: 0px 3px 0px #b2a98f;
}

.statistics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 505px;
    margin: 0 auto;
}

.lives-wrapper {
    flex: 0 0 50%;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.lives-wrapper li {
  display: inline-block;
  list-style: none;
  font-size: 1.5rem;
  padding: 2px;
  color: #980505;
}

.lives-wrapper li {
  font-size: 1.625rem;
  padding: 0.1875rem;
}

.lost {
  -webkit-animation: grey-out 0.3s linear 2 alternate;
  animation: grey-out 0.3s linear 2 alternate;
  color: #a9a9a9;
}

@-webkit-keyframes grey-out {
  to {
    color: #980505;
  }
}

@keyframes grey-out {
  to {
    color: #980505;
  }
}