html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Bangers', cursive;
  overflow: hidden;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
  background: #0c2435;
  background-position: center center;
  background-size: cover;
}

.header {
  font-size: 3.5rem;
  text-shadow: 0px 3px 0px #b2a98f;
  margin: 1rem;
}

.statistics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 505px;
  margin: 0 auto;
}

.score-wrapper,
.lives-wrapper {
  flex: 0 0 50%;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  margin-bottom: -50px;
}

.score-wrapper {
  text-shadow: 0px 3px 0px #b2a98f;
}

.lives-wrapper li {
  display: inline-block;
  list-style: none;
  font-size: 1.5rem;
  padding: 0.25rem;
  color: #980505;
}

.lost {
  -webkit-animation: grey-out 0.6s linear 2 alternate;
  animation: grey-out 0.6s linear 2 alternate;
  color: #a9a9a9;
}

@-webkit-keyframes grey-out {
  to {
    color: #980505;
  }
}

@keyframes grey-out {
  to {
    color: #980505;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: none;
  flex-direction: column;
  background-color: rgba(12, 36, 53, 0.9);
  padding: 2.5rem 3.5px;
  width: 360px;
  border-radius: 10px;
  text-align: center;
  transition: all, .5s;
  font-size: 1.5rem;
  text-shadow: 0px 3px 0px #b2a98f;
}

.modal.active {
  display: flex;
}

/* buttons from https://codepen.io/cheeriottis/pen/inluv */
.modal-button {
  position: relative;
  padding: 0.5rem 2rem;
  margin: 0px 1.25rem 0 0px;
  border: none;
  border-radius: 0.625rem;
  font-family: 'Pacifico', cursive;
  font-size: 1rem;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
  background-color: #D4AF37;
}

.modal-button:hover,
.modal-button:active,
.modal-button:focus {
  outline: none;
  background-color: #9B7400;
}